:root {
  /* font letter spacing */
  --font-letter-spacing-display: 1.2px;
  --font-letter-spacing-h1: 0.56px;
  --font-letter-spacing-h2: 0.72px;
  --font-letter-spacing-h3: 0.64px;
  --font-letter-spacing-h4: 1.2px;
  --font-letter-spacing-h5: 0.48px;
  --font-letter-spacing-h6: 0.2px;
}
