@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors.css';
@import './spacing.css';
@import './border-radius.css';
@import './font-family.css';
@import './font-size.css';
@import './font-weight.css';
@import './font-letter-spacing.css';
@import './line-height.css';

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
