@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors.css';

:root {
  /* spacing */
  --spacing-0: 0px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
  --spacing-11: 88px;
  --spacing-12: 96px;
  --spacing-13: 104px;
  --spacing-14: 112px;
  --spacing-15: 120px;
  --spacing-16: 160px;
  --spacing-17: 320px;

  /* border-radius */
  --border-radius-3xl: 20px;

  /* font family */
  --font-heading: 'MuseoModerno', sans-serif;
  --font-primary: 'Quicksand', sans-serif;
  --font-serif: 'Georgia', serif;

  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* font sizes mobile */
  --font-size-display-mobile: 4.5rem;
  --font-size-heading-xxl-mobile: 2.5rem;
  --font-size-heading-xl-mobile: 1.75rem;
  --font-size-heading-lg-mobile: 1.5rem;
  --font-size-heading-md-mobile: 1.25rem;
  --font-size-heading-sm-mobile: 1.125rem;
  --font-size-heading-xs-mobile: 1rem;
  --font-size-text-md-mobile: 1rem;
  --font-size-text-sm-mobile: 0.875rem;
  --font-size-text-xs-mobile: 0.75rem;
  --font-size-block-quote-mobile: 1.5rem;

  /* font sizes desktop */
  --font-size-display-desktop: 7.5rem;
  --font-size-heading-xxl-desktop: 3.5rem;
  --font-size-heading-xl-desktop: 2.25rem;
  --font-size-heading-lg-desktop: 2rem;
  --font-size-heading-md-desktop: 1.5rem;
  --font-size-heading-sm-desktop: 1.5rem;
  --font-size-heading-xs-desktop: 1.25rem;
  --font-size-text-md-desktop: 1.125rem;
  --font-size-text-sm-desktop: 1rem;
  --font-size-text-xs-desktop: 0.875rem;
  --font-size-block-quote-desktop: 2rem;

  /* line-height mobile */
  --line-height-display-desktop: 1.33;
  --line-height-heading-xxl-desktop: 1.4;
  --line-height-heading-xl-desktop: 1.43;
  --line-height-heading-lg-desktop: 1.33;
  --line-height-heading-md-desktop: 1.6;
  --line-height-heading-sm-desktop: 1.33;
  --line-height-heading-xs-desktop: 1.5;
  --line-height-text-md-desktop: 1.5;
  --line-height-text-sm-desktop: 1.71;
  --line-height-text-xs-desktop: 1.33;
  --line-height-block-quote-desktop: 1.67;

  /* line-height desktop */
  --line-height-display-desktop: 1;
  --line-height-heading-xxl-desktop: 1.43;
  --line-height-heading-xl-desktop: 1.11;
  --line-height-heading-lg-desktop: 1.25;
  --line-height-heading-md-desktop: 1.33;
  --line-height-heading-sm-desktop: 1.33;
  --line-height-heading-xs-desktop: 1.6;
  --line-height-text-md-desktop: 1.78;
  --line-height-text-sm-desktop: 2;
  --line-height-text-xs-desktop: 1.71;
  --line-height-block-quote-desktop: 1.5;
}

@layer base {
  body {
    @apply font-primary;
  }

  h1 {
    @apply font-heading;
    @apply text-h1-mobile;
    @apply sm:text-h1;
  }

  h2 {
    @apply font-heading;
    @apply text-h2-mobile;
    @apply sm:text-h2;
  }

  h3 {
    @apply font-heading;
    @apply text-h3-mobile;
    @apply sm:text-h3;
  }

  h4 {
    @apply text-h4-mobile;
    @apply sm:text-h4;
  }

  h5 {
    @apply text-h5-mobile;
    @apply sm:text-h5;
  }

  h6 {
    @apply text-h6-mobile;
    @apply sm:text-h6;
  }

  p {
    @apply text-p-mobile;
    @apply sm:text-p;
  } /* 

  p-bold {
    @apply text-p-bold-mobile;
    @apply sm:text-p-bold;
  }

  small {
    @apply text-small-mobile;
    @apply sm:text-small;
  }

  small-bold {
    @apply text-small-bold-mobile;
    @apply sm:text-small-bold;
  }

  x-small {
    @apply text-x-small-mobile;
    @apply sm:text-x-small;
  }

  x-small-bold {
    @apply text-x-small-bold-mobile;
    @apply sm:text-x-small-bold;
  }

  block-quote {
    @apply font-serif;
    @apply text-block-quote-mobile;
    @apply sm:text-block-quote;
  } */
}
